.fadeUp {
  animation: fadeUp 0.5s linear;
}

@keyframes fadeUp {
  0% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0px, -20px, 20px);
    opacity: 0;
  }
}
.showUp {
  animation: showUp 0.5s linear;
}
@keyframes showUp {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, -10px, 0);
    opacity: 1;
  }
}
.fadeDown {
  animation: fadeDown 0.5s linear;
}
@keyframes fadeDown {
  0% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0px, 20px, 20px);
    opacity: 0;
  }
}

.showDown {
  animation: showDown 0.5s linear;
}
@keyframes showDown {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

.setModal {
  animation: setModal 0.5s forwards;
}

@keyframes setModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.setModalOptions {
  animation: setModalOptions 0.5s forwards;
}

@keyframes setModalOptions {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
