/*стилі для анімації випадаючого списку в хедері*/

/*стилі обгортки випадаючого списку*/
.guide {
  overflow: hidden;
  /*поява опцій при наведенні*/
  /*   &:hover .guideOptions {
    max-height: 600px;
  } */
  /*анімація батьківського елементу списку*/
  &:hover .guideTitle {
    cursor: pointer;
    color: var(--bg-color-main);
    text-shadow: -5px 2px 5px var(--font-color), 5px 2px 5px var(--font-color);
  }
}
.dynamicTitle {
  margin-left: 30px;
  text-align: center;
  transition: text 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.opened {
  max-height: 600px !important;
}

.dynamicTitleContainer {
  width: 20vw;
  min-width: 150px;
}

/*стилі дочірніх елементів*/

.fadeUp {
  animation: fadeUp 0.5s linear;
}

@keyframes fadeUp {
  0% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0px, -20px, 20px);
    opacity: 0;
  }
}
.showUp {
  animation: showUp 0.5s linear;
}
@keyframes showUp {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, -10px, 0);
    opacity: 1;
  }
}
.fadeDown {
  animation: fadeDown 0.5s linear;
}
@keyframes fadeDown {
  0% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0px, 20px, 20px);
    opacity: 0;
  }
}

.showDown {
  animation: showDown 0.5s linear;
}
@keyframes showDown {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}
