/*стилі для анімації випадаючого списку в хедері*/

/*стилі обгортки випадаючого списку*/
.guide {
  overflow: hidden;
  /*поява опцій при наведенні*/
  &:hover .guideOptions {
    max-height: 600px;
  }
  /*анімація батьківського єлементу списку*/
  &:hover .guideTitle {
    cursor: pointer;
    color: var(--bg-color-main);
    text-shadow: -5px 2px 5px var(--font-color), 5px 2px 5px var(--font-color);
  }
  /*анімація стрілочок*/
  &:hover .guideTitle::after {
    transform: rotate(90deg);
  }
}
/*стилі батьківського елементу списку*/
.guideTitle {
  font-size: 1.5em;
  margin: 10px;
  width: 350px;
  text-align: center;
  transition: text-shadow 0.3s linear, color 0.6s ease-in-out;
  &::after {
    content: url("../images/guideArrow.png");
    display: inline-block;
    position: relative;
    left: 10px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  }
}
/*стилі дочірніх елементів*/
.guideOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  background-color: var(--bg-color-main);
  transition: max-height 0.3s ease-in-out;
}
