/*стилі основної теми*/
:root {
  --bg-color-main: #e4e4e4;
  --font-color: rgb(49, 47, 47);
  --button-bgc: #ffffff;
  color-scheme: light;
}
/* стилі темної теми*/
.dark {
  --bg-color-main: #1a1a1a;
  --font-color: rgb(232, 240, 167);
  --button-bgc: #000000;
  color-scheme: dark;
}
/*загальні стилі та стилі системних елементів UI*/
body {
  font-family: "Oswald";
  font-weight: 400;
  background-color: var(--bg-color-main);
  color: var(--font-color);
  transition: background-color 0.3s linear;
}
button {
  font-family: "Oswald";
  font-weight: 500;
  background-color: var(--button-bgc);
  &:hover {
    cursor: pointer;
  }
}
nav {
  display: flex;
  justify-content: space-around;
}

a {
  color: inherit;
  &:hover {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px black, -3px -3px 10px black;
  }
  transition: text-shadow 0.3s linear, color 0.6s ease-in-out;
}

p {
  text-align: justify;
  text-indent: 1em;
}

.mainInfoCard {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}
.photo {
  width: 300px;
  margin: 50px;
}

.intro {
  margin-right: 20px;
}
