/*стилі основної теми*/
* {
  box-sizing: border-box;
}
:root {
  --bg-color-main: #e4e4e4;
  --font-color: rgb(49, 47, 47);
  --button-bgc: #ffffff;
  --theme-switcher: #000000;
  color-scheme: light;
}
/* стилі темної теми*/
.dark {
  --bg-color-main: #1a1a1a;
  --font-color: rgb(232, 240, 167);
  --button-bgc: #000000;
  color-scheme: dark;
}
/*загальні стилі та стилі системних елементів UI*/
body {
  font-family: "Oswald";
  font-weight: 400;
  background-color: var(--bg-color-main);
  color: var(--font-color);
  transition: background-color 0.3s linear;
}
button {
  font-family: "Oswald";
  font-weight: 500;
  background-color: var(--button-bgc);
  &:hover {
    cursor: pointer;
  }
}
nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  font-size: 1.5em;
  &:hover {
    color: var(--bg-color-main);
    text-shadow: 3px 3px 10px var(--font-color),
      -3px -3px 10px var(--font-color);
  }
  transition: text-shadow 0.3s linear, color 0.6s ease-in-out;
}

p {
  text-align: justify;
  text-indent: 1em;
}

.mainInfoCard {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}
.photo {
  width: 300px;
  margin: 50px;
}

.intro {
  margin-right: 20px;
}

.switcher {
  cursor: pointer;
  position: relative;
  z-index: 0;
  width: 60px;
  height: 27px;
  background-color: #fff;
  border: 1px black solid;
  border-radius: 40px;
  &::after {
    content: "";
    height: 23px;
    width: 23px;
    background-color: var(--theme-switcher);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 1px;
    left: 1px;
  }
}

.switcher-on::after {
  left: 32px;
}

.switcherContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
